<div class="d-flex justify-content-between feature-header">
    <div>
        <h3 class="content-head d-inline">{{featureTitle}}</h3> »
        <span><a href="/students"> Students</a></span>
    </div>
</div>

<div class="content-body">
    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-12 mx-auto">
                <div class="card py-2">
                    <div class="card-content">
                        <div class="card-body">
                            <form action="{{action}}" method="POST" class="form form-horizontal">
                                <div class="form-body">

                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="firstname">First Name</label>
                                                <input type="text" id="firstname" class="form-control" name="firstname"
                                                    value="{{student.firstName}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="middlename">Middle Name</label>
                                                <input type="text" id="middlename" class="form-control"
                                                    name="middlename" value="{{student.middleName}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="lastname">Last Name</label>
                                                <input type="text" id="lastname" class="form-control" name="lastname"
                                                    value="{{student.lastName}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="batch">Batch</label>
                                                <select class="form-control" id="batch" name="batch">
                                                    <option selected>Select a batch</option>
                                                    {{#each batches}}
                                                    <option value="{{name}}" {{selected ../student.batch name}}>{{name}}
                                                    </option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="firstclass">First Class Date</label>
                                                <input type="date" id="firstclass" class="form-control"
                                                    name="firstclass" value="{{formatDate student.firstClass "YYYY-MM-DD"}}">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="idtype">ID Type</label>
                                                <select class="form-control" id="idtype" name="idtype">
                                                    <option selected>Select an ID type</option>
                                                    <option value="Registro Civil" {{selected student.idType "Registro Civil"}}>
                                                        Registro Civil</option>
                                                    <option value="Passport ID" {{selected student.idType "Passport ID"}}>
                                                        Passport
                                                        ID</option>
                                                    <option value="Other" {{selected student.idType "Other"}}>Other</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="idnumber">ID Number</label>
                                                <input type="text" id="idnumber" class="form-control" name="idnumber"
                                                    value="{{student.idNumber}}">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="gender">Gender</label>
                                                <select class="form-control" id="gender" name="gender">
                                                    <option selected>Select a gender</option>
                                                    <option value="male" {{selected student.gender "male"}}>Male</option>
                                                    <option value="female" {{selected student.gender "female"}}>Female</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" id="email" class="form-control" name="email"
                                                    value="{{student.userId.email}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="birthdate">Birth Date</label>
                                                <input type="date" id="birthdate" class="form-control" name="birthdate"
                                                    value="{{formatDate student.birthDate "YYYY-MM-DD"}}">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="insurance">Health Insurance</label>
                                                <input type="text" id="insurance" class="form-control" name="insurance"
                                                    value="{{student.insurance}}">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="phone">Phone</label>
                                                <input type="text" id="phone" class="form-control" name="phone"
                                                    value="{{student.phone}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="mobile">Mobile</label>
                                                <input type="text" id="mobile" class="form-control" name="mobile"
                                                    value="{{student.mobile}}">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" id="username" class="form-control" name="username"
                                                    value="{{student.userId.username}}">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="text" id="password" class="form-control" name="password"
                                                    value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <textarea id="address" class="form-control"
                                                    name="address">{{student.address}}</textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-8 col-12">
                                            <div class="form-group">
                                                <label for="notes">Admission Notes</label>
                                                <textarea id="notes" class="form-control"
                                                    name="notes">{{student.notes}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 d-flex flex-row-reverse">
                                            <button type="submit" class="btn btn-primary mr-1 mb-1"
                                                href="#">Save</button>
                                            <a class="btn btn-secondary mr-1 mb-1" href="/students">Cancel</a>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>