<div class="d-flex justify-content-between feature-header">
    <div>
        <h3 class="content-head d-inline">{{featureTitle}}</h3>
        <span> » <a href="/courses">Courses</a></span>
    </div>
</div>

<div class="content-body">
    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card py-2">
                    <div class="card-content">
                        <div class="card-body">
                            <form action="/course/edit/{{course._id}}" method="POST" class="form form-horizontal">
                                <div class="form-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" id="name" class="form-control" name="name"
                                                    value="{{course.name}}" autofocus>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea id="description" class="form-control"
                                                    name="description">{{course.description}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name">Grading System</label>
                                                <select class="form-control" name="gradingSystem" id="gradingSystem">
                                                    <option value="Select Grading System" selected>Select Grading System
                                                    </option>
                                                    {{#each grades}}
                                                    <option value="{{name}}" {{selected ../course.gradingSystem name}}>{{name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary mr-1 mb-1"
                                                href="#">Save</button>
                                            <a class="btn btn-secondary mr-1 mb-1" href="/courses">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>