<div class="d-flex justify-content-between feature-header">
    <div>
        <h3 class="content-head">{{featureTitle}}</h3>
    </div>

    <div>
        <h4>
            <a class="btn btn-primary" style="margin-top: -9px;" href="/course/new/form" id="new-crud-btn">New
                Course</a>
        </h4>
    </div>
</div>

<div class="content-body">
    <section id="basic-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body card-dashboard card-dt">
                            <div class="table-responsive">
                                <table class="table  zero-configuration table-striped">
                                    <thead>
                                        <tr>
                                            <th>Course Name</th>
                                            <th>Course Description</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each course}}
                                        <tr data-crud="{{json this}}">
                                            <td>{{name}}</td>
                                            <td>{{description}}</td>
                                            <td>
                                                <div class="dropdown dropdown-dt">
                                                    <button class="btn btn-outline-primary dropdown-toggle"
                                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        Select
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="btn-edit dropdown-item"
                                                            href="/course/edit/form/{{_id}}">Edit</a>
                                                        <a class="btn-delete dropdown-item" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{{!-- DELETE CONFIRMATION MODAL --}}
<div class=" modal fade text-left" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Modal Title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-3">
                <p>Are you sure you want to permanently delete
                    <b class="crud-name"></b>?</p>
                <p>You can not undo this later.</p>
                <br>
                <div class="d-flex flex-row-reverse">
                    <div>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <a id="confirm-btn-delete" class="btn btn-primary" href="#">Delete</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // DELETE CONFIRMATION MODAL
    (function (window, $) {
        "use strict";
        $(".btn-delete").click(function () {
            var $btn = $(this);
            var $tr = $btn.closest("tr");
            var $itm = $tr.data("crud");
            var $modalDelete = $("#modal-delete");
            $modalDelete.modal("show");
            $(".crud-name", $modalDelete).html($itm.name);
            var $upUrl = "/course/delete/" + $itm._id;
            $("#confirm-btn-delete", $modalDelete).attr("href", $upUrl);
        });
    })(window, jQuery);
</script>