<div class="d-flex justify-content-between feature-header">
    <div>
        <h3 class="content-head d-inline">{{featureTitle}} </h3>
        <span> » <a href="/subjects/batch/{{batch._id}}/course/{{course._id}}">{{batch.name}}</a> »
            {{course.name}}</span>
    </div>
</div>

<div class="content-body">
    <section class="mt-2" id="content-types">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content my-1">

                        <form action="/subject/import/batch/{{batch._id}}/course/{{course._id}}" method="POST"
                            id="subjectForm">
                            <div class="card-body">

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="checkall" onclick="selectAll()"
                                        class="custom-control-input checkall">
                                    <label class="custom-control-label" for="checkall">Select All</label>
                                </div>
                                <hr>

                                {{#each subject}}
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" name="{{name}}" value="{{_id}}" id="{{name}}"
                                        class="custom-control-input checkbox">
                                    <label class="custom-control-label" for="{{name}}">{{name}}</label>
                                </div>
                                {{/each}}

                            </div>

                            <div class="card-body" style="margin-top: -30px;">
                                <hr class="mb-2">
                                <button type="submit" href="#" class="btn btn-primary">Import</button>
                                <a href="/subjects/batch/{{batch._id}}/course/{{course._id}}"
                                    class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function selectAll() {
        let form = document.getElementById("subjectForm").elements;
        let checkall = document.getElementsByClassName("checkall")
        let checkbox = document.getElementsByClassName("checkbox");
        let i;
        for (i = 0; i < form.length; i++) {
            if (checkall[0].checked === true) {
                checkbox[i].checked = true;
            } else {
                checkbox[i].checked = false;
            }
        }
    }
</script>