<div class="d-flex justify-content-between feature-header">
    <div>
        <h3 class="content-head d-inline">{{featureTitle}}</h3> »
        <span><a href="/users"> Users</a></span>
    </div>
</div>

<div class="content-body">
    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card py-2">
                    <div class="card-content">
                        <div class="card-body">
                            <form action="{{action}}" method="POST" class="form form-horizontal">
                                <div class="form-body">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" id="name" class="form-control" name="name"
                                                    value="{{name}}" autofocus>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" id="email" class="form-control" name="email"
                                                    value="{{email}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="role">Role</label>
                                                <select class="form-control"  id="role" name="role">
                                                    <option selected>Select A Role</option>
                                                    {{#each roles}}
                                                    <option value="{{name}}" {{selected ../role name}}>{{name}}
                                                    </option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="school">Username</label>
                                                <input type="text" id="username" class="form-control" name="username"
                                                    value="{{username}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" id="password" class="form-control"
                                                    name="password" value="{{password}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5">
                                            <button type="submit" class="btn btn-primary mr-1 mb-1"
                                                href="#">Create</button>
                                            <a class="btn btn-secondary mr-1 mb-1" href="/users">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>